@(controller: de.htwg.snake.controller.snakeController)


@main("SNAKE") {
    <div id="wrapper">
<div id="snakeContainer">
<center><table class="border">
<tr>
@for(w <- 1 to controller.snake1.size){
	@for(e <- 1 to controller.snake1.size){
		<td class="td-style">
		 @if(controller.check(w,e)=="*") {<div class="snake-body"></div>} else {
		 @if(controller.check(w,e)=="+") {<img src='@routes.Assets.at("images/mouse.png")' class="mouse" />
         }
		 }
		</td>
	}
  </tr>
  <tr>	
}
</tr>
</table></center>
</div></div>
}